.learningContentCard {
  width: 100%;
  margin-top: 20px;
}

.learningContentCard__time {
  display: flex;
  align-items: center;
}

.learningContentCard__time small {
  background-color: orangered;
  padding: 3px 7px;
  border-radius: 3px;
  margin-right: 20px;
  color: white;
}

.learningContentCard__p {
  width: 100%;
  background-color: whitesmoke;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid lightgray;
  display: flex;
  justify-content: space-between;
}

.learningContentCard__p p {
  margin: 0;
}

.learningContentCard__p div svg{
  color: gray;
}
