.porgressCard__wrapper {
  border: 1px solid lightgray;
  width: 240px;
  padding: 10px 10px;
  margin-top: 10px;
  border-radius: 10px;
}

.porgressCard__wrapper img {
  border-radius: 10px;
}

.porgressCard__wrapper h6 {
  margin-top: 10px;
  font-weight: bold;
  font-size: 10px;
}

.porgressCard__wrapper h6 svg {
  color: gray;
}

.progressCard__wrapper_progress p {
  margin: 0;
  width: 100%;
}

.progressCard__wrapper_progress progress {
  width: 80%;
}

.progressCard__wrapper_progress small {
  color: gray;
  font-size: 15px;
}
