.learningContentSection {
  padding: 20px;
  border: 1px solid lightgray;
  margin-top: 20px;
  border-radius: 10px;
  margin-left: 20px;
}

.learningContentSection h4 {
  font-weight: bold;
}

.accordion {
  --bs-accordion-active-bg: none;
  --bs-accordion-btn-focus-box-shadow: none;
  --bs-accordion-active-color: gray;
}

.accordion-item {
  border: none;
}

.accordion-item button {
  font-family: sans-serif;
  color: gray;
}

.accordion-item button p div {
  font-size: 15px;
  margin-top: 10px;
  font-weight: normal;
}

.accordion-item button p {
  font-weight: bold;
}

.accordion-body {
  color: gray;
}

.accordion-body ul,
li {
  list-style: none;
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
  font-size: 16px;
  font-weight: 500;

}

.accordion-body ul li input {
  margin-right: 15px;
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 50%;
  vertical-align: middle;
  border: 2px solid #ddd;
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
}

.accordion-body ul li input:checked {
  background-color: orangered;
}

.accordion__time {
  margin-left: 45px;
}

.courseContentBox:hover {
  background: aliceblue;
}
